/* google fonts, text styling for readability and distinction between styles, color theory in web dev, css avd (gradient, radial, transparency) 
*/


/*      body     */
body {
    align-content: center;
    font-family: 'Segoe UI',
        Tahoma,
        Geneva,
        Verdana,
        sans-serif;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;

    background-color: rgb(111, 78, 55);
      
    /* adjust the size, position, and color of the dots by changing the values in the background-size, background-position, and background-image properties   */

    background-image: radial-gradient(circle at 10px 10px, #581845 2px, transparent 5px), radial-gradient(circle at 30px 30px, #C70039 2px, transparent 5px), radial-gradient(circle at 50px 10px, #900C3F 6px, transparent 5px), radial-gradient(circle at 70px 30px, #FF5733 6px, transparent 5px);
    background-size: 85px 85px;

    /*  doubled my original height 20px & 40px and happy accident of dot in dot since I unintentionally doubled the background image. add an extra 5px to each and its a slight overlap. happy accidents = learning */

    background-position: 0 0, 20px 20px, 40px 0, 60px 20px, 80px 0;
    background-repeat: repeat
}

/*  **** Header style ****  */
Header {
    /* text style */
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    /* layout */
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
    padding-bottom: 20px;

    /* background radial gradiant */
    background: rgb(88, 24, 69);
    background: radial-gradient(circle, rgba(88, 24, 69, 1) 0%, rgba(199, 0, 57, 1) 50%, rgba(252, 176, 69, 1) 100%);

}

/*  **** Java Java Madlibs Title in header */
h1 {
    color: #FF5733;
    font-size: 60px;
    text-shadow: 3.5px 7px 2px rgb(88, 24, 69);
}

/* instructions in header */
h2 {
    font-family: 'Tangerine', serif;
    font-size: 40px;
    color: #FFC300;
    text-shadow: 3px 3px 2px rgb(88, 24, 69);
    letter-spacing: 0.2em;
}

ol {
    list-style: none;

}


/* form styling */

/* input box color */

input[type="text"] {
    background-color: rgba(252, 176, 69, .8);
    font-family: 'Gochi Hand', cursive;
    font-size: 18px;
    line-height: 30px;
    text-emphasis: bolder;
    letter-spacing: 2px;

    width: 80%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form {
    /* layout */
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 50px;
    padding-bottom: 50px;
    margin: 50px;
}

.form-columns {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0
}

.form-columns li {
    flex-basis: 33%;
    box-sizing: border-box;
}

/* 
added the class to the form to style something but forgot what after I finished html :) I might remember, I might not 

.madlibs{

}
*/

#button {
    background-color: rgba(199, 0, 57, 1);
    font-family: 'Anton', sans-serif;
    text-emphasis: bolder;
    letter-spacing: 3px;
    font-size: 18px;
    line-height: 31px;
    padding: 9px;
    border-radius: 4px;
    justify-content: center;

}

/*  answer (paragraph) in body */
p {
    /* text style */
    color: #FFC300;
    font-size: 24px;
    font-weight: bold;
    line-height: 45px;
    text-shadow: 3px 3px 2px rgb(88, 24, 69);
    text-align: center;

    /* layout */
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 50px;
    padding-bottom: 50px;

    /* background radial gradiant */
    background: rgb(88, 24, 69);
    background: radial-gradient(circle, rgba(88, 24, 69, 1) 0%, rgba(199, 0, 57, 1) 50%, rgba(252, 176, 69, 1) 100%);


}

/*  answer text */
.highlight {
    color: #FF5733;
    font-family: 'Gochi Hand';
    letter-spacing: 2px;
    font-size: 24px;
}


/*  font test <h6> */
h6 {
    font-family: 'Gochi Hand';
    color: #FF5733;
    letter-spacing: .2rem;
    font-size: 30px;
    text-shadow: 3px 3px 2px rgb(88, 24, 69);
}

/* color codes for colors

   light green
        HEX= #DAF7A6 RGB= 218, 247, 166
    yellow       
        HEX= #FFC300 RGB= 255, 195, 0
   orange       
        HEX= #FF5733 RGB= 255, 87, 51
   red
        HEX= #C70039 RGB= 199, 0, 57
   maroon
        HEX= #900C3F RGB= 144, 12, 63
   purple
        HEX= #581845 RGB= 88, 24, 69
    brown
        HEX= 6F4E37 rgb(111, 78, 55)
*/